@import "../../../vendor/bower_components/font-awesome/scss/font-awesome";

@font-face {
	font-family: 'PFDinTextPro-Bold';
	src: url('/assets/fonts/pfdintextpro-bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinTextPro-Light';
	src: url('/assets/fonts/pfdintextpro-light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Medium';
	src: url('/assets/fonts/pfdintextpro-medium.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PFDinTextPro-Regular';
	src: url('/assets/fonts/pfdintextpro-regular.ttf');
	font-weight: normal;
	font-style: normal;
}