.clients {

	padding-bottom: 152px;

	&__title {
		text-align: center;
		margin-top: 58px;
    	margin-bottom: 54px;
	}

	&__list {
		position: relative;
		text-align: center;
		margin: 0;
		padding: 0;

		li {
			margin-right: 75px;
			display: inline-block;
			text-align: center;
		}
	}

	&__slider-wrap {
		position: relative;
	}

	&-slider {
		position: relative;
		overflow: hidden;
		margin: 0 32px;

		& > ul {
			width: 20000em;
			position: relative;

			li {
				width: 240px;
				display: block;
				margin: 0;
				float: left;
				text-align: center;
			}
		}

		&-prev, &-next {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #dddddd;

			.icon-arrow {
				fill:none;
				stroke:#ddd;
				stroke-width:4;
				stroke-linecap:round;
				stroke-linejoin:round;
				stroke-miterlimit:10;
			}

			&:hover {
				.icon-arrow {
					stroke: darken(#ddd, 10%);
				}
			}
		}

		&-next {
			right: 0;
		}

		&-prev {
			left: 0;
		}
	}

	@include breakpoint(xlarge) {
		&-slider {
			& > ul {
				li {
					width: 320.5px;
				}
			}
		}
	}
}